<div id="card"> 
  <div class="front"> 
    <img src="https://dcpl.contentdm.oclc.org/digital/iiif/p17056coll3/177/full/pct:50/0/default.jpg">
  </div> 
  <div class="back">
    <img src="https://dcpl.contentdm.oclc.org/digital/iiif/p17056coll3/178/full/pct:50/0/default.jpg">
  </div> 
</div>