<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/flip/jquery.flip.min.js"></script>
    <script>
      $("#card").flip();
    </script>
  </body>
</html>
