<div class="card-container">
  <div class="card">
    <div class="front">
      <img src="https://dcpl.contentdm.oclc.org/digital/iiif/p17056coll3/186/full/380,230/0/default.jpg" />
    </div>
    <div class="back">
      <img src="https://dcpl.contentdm.oclc.org/digital/iiif/p17056coll3/187/full/380,230/0/default.jpg" />
    </div>
  </div>
</div>
